@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-sora: var(--font-sora);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-accent: var(--primary-accent);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --shadow-cart-item: 0px 5px 35px 0px rgba(30, 34, 40, 0.05);

  /* Typography */

  /* H1 / Page title */
  --text-h1: var(--text-h1);
  --text-h1--line-height: var(--text-h1--line-height);
  --text-h1--letter-spacing: var(--text-h1--letter-spacing);
  --text-h1--font-weight: var(--text-h1--font-weight);

  /* H2 / Section title */
  --text-h2: var(--text-h2);
  --text-h2--line-height: var(--text-h2--line-height);
  --text-h2--letter-spacing: var(--text-h2--letter-spacing);
  --text-h2--font-weight: var(--text-h2--font-weight);

  /* H3 / Subheading */
  --text-h3: var(--text-h3); /* 20px */
  --text-h3--line-height: var(--text-h3--line-height); /* 28px */
  --text-h3--letter-spacing: var(--text-h3--letter-spacing);
  --text-h3--font-weight: var(--text-h3--font-weight);

  /* Body / Paragraph */
  --text-body: var(--text-body); /* 16px */
  --text-body--line-height: var(--text-body--line-height); /* 28px */
  --text-body--letter-spacing: var(--text-body--letter-spacing);
  --text-body--font-weight: var(--text-body--font-weight);

  /* Small / Muted */
  --text-tiny: var(--text-tiny); /* 14px */
  --text-tiny--line-height: var(--text-tiny--line-height); /* 24px */
  --text-tiny--letter-spacing: var(--text-tiny--letter-spacing);
  --text-tiny--font-weight: var(--text-tiny--font-weight);

  /* Optional: Overline / Eyebrow */
  --text-overline: var(--text-overline); /* 12px */
  --text-overline--line-height: var(--text-overline--line-height); /* 16px */
  --text-overline--letter-spacing: var(--text-overline--letter-spacing);
  --text-overline--font-weight: var(--text-overline--font-weight);

  --image-overlay: linear-gradient(
    101deg,
    rgba(0, 0, 0, 0.5) 0.87%,
    rgba(0, 0, 0, 0) 100%
  );
}

:root {
  --background: oklch(0.9842 0.0034 247.8575);
  --foreground: oklch(0.1448 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1448 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1448 0 0);
  --primary: oklch(0.5814 0.1074 177.452);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9683 0.0069 247.8956);
  --secondary-foreground: oklch(0.2077 0.0398 265.7549);
  --muted: oklch(0.9842 0.0034 247.8575);
  --muted-foreground: oklch(0.5544 0.0407 257.4166);
  --accent: oklch(0.9683 0.0069 247.8956);
  --accent-foreground: oklch(0.2077 0.0398 265.7549);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9288 0.0126 255.5078);
  --input: oklch(0.9288 0.0126 255.5078);
  --ring: oklch(0.5814 0.1074 177.452);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.6668 0.2591 322.1499);

  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.1448 0 0);
  --sidebar-primary: oklch(0.5814 0.1074 177.452);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9683 0.0069 247.8956);
  --sidebar-accent-foreground: oklch(0.1448 0 0);
  --sidebar-border: oklch(0.9288 0.0126 255.5078);
  --sidebar-ring: oklch(0.5814 0.1074 177.452);

  --radius: 0.75rem;
  --shadow-2xs: 0px 8px 24px -8px hsl(0 0% 0% / 0.04);
  --shadow-xs: 0px 8px 24px -8px hsl(0 0% 0% / 0.04);
  --shadow-sm:
    0px 8px 24px -8px hsl(0 0% 0% / 0.08), 0px 1px 2px -9px hsl(0 0% 0% / 0.08);
  --shadow:
    0px 8px 24px -8px hsl(0 0% 0% / 0.08), 0px 1px 2px -9px hsl(0 0% 0% / 0.08);
  --shadow-md:
    0px 8px 24px -8px hsl(0 0% 0% / 0.08), 0px 2px 4px -9px hsl(0 0% 0% / 0.08);
  --shadow-lg:
    0px 8px 24px -8px hsl(0 0% 0% / 0.08), 0px 4px 6px -9px hsl(0 0% 0% / 0.08);
  --shadow-xl:
    0px 8px 24px -8px hsl(0 0% 0% / 0.08), 0px 8px 10px -9px hsl(0 0% 0% / 0.08);
  --shadow-2xl: 0px 8px 24px -8px hsl(0 0% 0% / 0.2);
  --tracking-normal: -0.025em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1448 0 0);
  --foreground: oklch(0.9851 0 0);
  --card: oklch(0.2046 0 0);
  --card-foreground: oklch(0.9851 0 0);
  --popover: oklch(0.1448 0 0);
  --popover-foreground: oklch(0.9851 0 0);
  --primary: oklch(0.5814 0.1074 177.452);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.2686 0 0);
  --secondary-foreground: oklch(0.9851 0 0);
  --muted: oklch(0.2686 0 0);
  --muted-foreground: oklch(0.7155 0 0);
  --accent: oklch(0.2686 0 0);
  --accent-foreground: oklch(0.9851 0 0);
  --destructive: oklch(0.3958 0.1331 25.723);
  --destructive-foreground: oklch(0.9851 0 0);
  --border: oklch(0.2686 0 0);
  --input: oklch(0.2686 0 0);
  --ring: oklch(0.5814 0.1074 177.452);
  --chart-1: oklch(0.8003 0.1821 151.711);
  --chart-2: oklch(0.7137 0.1434 254.624);
  --chart-3: oklch(0.709 0.1592 293.5412);
  --chart-4: oklch(0.8369 0.1644 84.4286);
  --chart-5: oklch(0.7845 0.1325 181.912);
  --sidebar: oklch(0.2046 0 0);
  --sidebar-foreground: oklch(0.9851 0 0);
  --sidebar-primary: oklch(0.5814 0.1074 177.452);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.2686 0 0);
  --sidebar-accent-foreground: oklch(0.9851 0 0);
  --sidebar-border: oklch(0.2686 0 0);
  --sidebar-ring: oklch(0.5814 0.1074 177.452);

  --radius: 0.75rem;
  --shadow-2xs: 0px 8px 24px -8px hsl(0 0% 0% / 0.1);
  --shadow-xs: 0px 8px 24px -8px hsl(0 0% 0% / 0.1);
  --shadow-sm:
    0px 8px 24px -8px hsl(0 0% 0% / 0.2), 0px 1px 2px -9px hsl(0 0% 0% / 0.2);
  --shadow:
    0px 8px 24px -8px hsl(0 0% 0% / 0.2), 0px 1px 2px -9px hsl(0 0% 0% / 0.2);
  --shadow-md:
    0px 8px 24px -8px hsl(0 0% 0% / 0.2), 0px 2px 4px -9px hsl(0 0% 0% / 0.2);
  --shadow-lg:
    0px 8px 24px -8px hsl(0 0% 0% / 0.2), 0px 4px 6px -9px hsl(0 0% 0% / 0.2);
  --shadow-xl:
    0px 8px 24px -8px hsl(0 0% 0% / 0.2), 0px 8px 10px -9px hsl(0 0% 0% / 0.2);
  --shadow-2xl: 0px 8px 24px -8px hsl(0 0% 0% / 0.5);
}
/* md breakpoint bump */
@media (min-width: 768px) {
  :root {
    --text-h1: 1.75rem; /* 28px */
    --text-h1--line-height: 2.25rem; /* 36px */

    --text-h2: 1.5rem; /* 24px */
    --text-h2--line-height: 2rem; /* 32px */

    --text-h3: 1.25rem; /* 20px */
    --text-h3--line-height: 1.75rem; /* 28px */

    --text-body: 1rem; /* 16px */
    --text-body--line-height: 1.75rem; /* 28px */

    --text-tiny: 0.875rem; /* 14px */
    --text-tiny--line-height: 1.375rem; /* 22px */

    --text-overline: 0.75rem; /* 12px */
    --text-overline--line-height: 1.125rem; /* 18px */
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
}
